<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <title>401 | Justify</title>
</head>
<body>
<header class="container mb-4 justify-content-center">
  <h1>Oops - an error occurred&hellip;</h1>
</header>
<div class="container">
  <p>HTTP Error 401 UNAUTHORIZED.</p>
  <p>Go to <a href="/student/login">student</a> or the <a href="/teacher/login">teacher</a> dashboard.</p>
</div>

<footer class="footer container d-flex align-items-end justify-content-center">
  <p><small>&copy; Rotem Moses 2021. Justify is available under the MIT license.
    <a href="/privacy">View the privacy page.</a></small></p>
</footer>
</body>
</html>