<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <title>Privacy Policy | Justify</title>
</head>
<body>
<div class="container d-flex justify-content-center mt-4">
  <h1>Justify</h1>
</div>

<div class="container">
  <div class="row mb-4">
    <h2>Our privacy policy</h2>
  </div>
  <div class="row mb-4">
    <p>This is the privacy policy for Justify.</p>
    <h3>The data we save</h3>
    <p>We save the following data about your usage:</p>
    <ul>
      <li>Your name</li>
      <li>Your Mashov user identifier - a unique string identifying every mashov user</li>
      <li>Your justification requests</li>
      <li>A unique authentication token</li>
    </ul>
    <h4>What the saved data lets us do</h4>
    <p>With your saved data, we can authenticate your login and forward your approval requests to the mashov system.</p>
    <h4>What the data doesn't let us do</h4>
    <p>Your data does not let us log into your mashov or see any confidential data not stored.</p>
    <h3>The data we don't save</h3>
    <p>We don't save:</p>
    <ul>
      <li><strong>Your Mashov login details</strong> - username and password</li>
      <li>Your ID number</li>
      <li>Your absences</li>
    </ul>
  </div>
</div>

<div class="footer container d-flex align-items-end justify-content-center">
  <p><small>&copy; Rotem Moses 2021. Justify is available under the MIT license.
    <a href="/privacy">View the privacy page.</a></small></p>
</div>

<!-- Scripts go at the end -->
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/cookies.min.js"></script>
<script src="/js/login.js"></script>
</body>
</html>